@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("lib/assets/fonts/spaceGrotesk.ttf") format("truetype");
    font-style: normal;
}

@layer{
    html{
        font-family: SpaceGrotesk, sans-serif;
    }
}

html,body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}
p {
    font-size: 1rem;
}

h1{
    @apply text-4xl;
    @apply uppercase;
    @apply my-10;
}

a{
    @apply underline;
}
